/* MEDIA QUERIES FOR MEDIUM*/
/* @media screen and (max-width: 1024px) {
	.container__education {
		width: 90%;
		margin: auto;
	}
} */

/* MEDIA QUERIES FOR SMALL*/
/* @media screen and (max-width: 600px) {
	.container__education {
		width: 90%;
		margin: auto;
	}
} */
