/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* background-image: url(../../Images//moon.jpg); */
    /* background: #1e1e1e; */
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: white;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #f39a9d;
}