nav {
	background: rgba(0, 0, 0, 0.3);
	width: max-content;
	display: block;
	padding: 0.7rem 0.7rem;
	z-index: 2;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 1rem;
	display: flex;
	gap: 0.8rem;
	border-radius: 2rem;
	backdrop-filter: blur(15px);
	/* width: 90%; */
	margin: auto;
	/* justify-content: space-between; */
}
nav a {
	background: transparent;
	padding: 0.9rem;
	border-radius: 50%;
	display: flex;
	color: var(--color-light);
	font-size: 1.1rem;
}
nav a:hover {
	background: rgba(0, 0, 0, 0.3);
}
nav a.active {
	background: var(--color-primary);
	color: var(--color-bg);
}
nav a div {
	justify-content: center;
	text-align: center;
}
@media screen and (max-width: 600px) {
	nav {
		/* width: 80%;
		margin: auto;
		justify-content: space-around; */
		height: 80px;
		justify-content: space-around;
	}
	nav a div {
		font-size: 0rem;
	}
	button {
		size: 15px;
		font-size: 8px;
		padding: 0;
	}
	nav a div:nth-child(1) {
		content: "";
	}
	nav a div:nth-child(2) {
		font-size: 15px;
	}
}
